// Global vars
@import '~@style/_vars.scss';

.Header {

	width: 100%;
	background-color: darken($primary-color, 20%);
	background-image: url('~@assets/header/header_separation.svg'),
				radial-gradient(ellipse at center,
					rgba(0, 0, 0, 0.2) 0%,
					rgba(0, 0, 0, 0.45) 66%,
					rgba(0, 0, 0, 0.55) 100%),
				url('~@assets/header/header_small.jpg');
	background-attachment: scroll, fixed, fixed;
	background-position: center bottom, 0% 0%, center top;
	background-repeat: repeat-x, no-repeat, no-repeat;
	background-size: auto $malt-ribbon-height, auto, 120% auto;
	height: $header-height;

	@include respond-to(tablets-and-larger) {
		background-image: url('~@assets/header/header_separation.svg'),
					radial-gradient(ellipse at center,
						rgba(0, 0, 0, 0.2) 0%,
						rgba(0, 0, 0, 0.45) 66%,
						rgba(0, 0, 0, 0.55) 100%),
					url('~@assets/header/header.jpg');
	}

	@include respond-to(tablets) {
		background-position: center bottom, 0% 0%, center top;
		background-size: auto $malt-ribbon-height-T, auto, 100% auto;
		padding-left: $sides-width-T;
		height: $header-height-T;
	}

	@include respond-to(screens) {
		background-position: center bottom, 0% 0%, center top;
		background-size: auto $malt-ribbon-height-S, auto, 100% auto;
		padding-left: $sides-width-S;
		height: $header-height-S;
	}

	@include respond-to(wide-screens) {
		padding-left: $sides-width-WS;
	}

	.HeaderText {

		display: flex;
		flex-direction: column;
		justify-content: center;

		align-items: center;
		height: $visual-header-height;
		padding: 0;

		@include respond-to(tablets) {
			align-items: flex-start;
			height: $visual-header-height-T;
		}

		@include respond-to(screens) {
			align-items: flex-start;
			height: $visual-header-height-S;
		}

		.HeaderTitle {
			font-family: 'Berkshire Swash', sans-serif;
			color: $lighter-text-color;
			margin: 0;

			font-size: 1.7rem;
			line-height: 1.4rem;

			text-shadow: rgba(0, 0, 0, 0.6) 2px 1px 3px;

			@include respond-to(handhelds) {
				font-size: 7.5vw;
				line-height: 6vw;
			}

			@include respond-to(tablets-and-larger) {
				margin-left: -7px;
			}
		}

		.HeaderSubtitle {
			margin: 0;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;
			color: rgba($lighter-text-color, 0.7);
			text-shadow: $text-on-images-shadow;
			text-transform: uppercase;
			letter-spacing: 0.1em;

			font-size: 0.8rem;

			@include respond-to(handhelds) {
				font-size: 4vw;
				line-height: 4vw;
			}
		}
	}
}
