@import '~@style/_vars.scss';

.Primalink {

	display: flex;
	justify-content: center;
	align-items: stretch;
	
	background-color: $text-color;
	border-radius: $radius;

	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: $bg-color !important;
	border: none !important;
	filter: brightness(1);
	transition: box-shadow $medium-anim ease-out, filter $medium-anim ease-out !important;

	.PrimalinkContent {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: $medium-gap calc(#{$medium-gap} + 10px);
		@include respond-to(tablets) { padding: $small-gap-T calc(#{$small-gap-T} + 5px); }
		@include respond-to(screens) { padding: $small-gap-S calc(#{$small-gap-S} + 5px); }

		.PrimalinkCaption {
			display: block;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			font-weight: 600;
			font-size: 0.9rem;
			line-height: 0.9rem;
			text-align: center;

			@include respond-to(tablets-and-larger) {
				font-size: 0.8rem;
				line-height: 0.8rem;
			}
		}

		.PrimalinkSubcaption {
			display: inline-block;
			font-weight: 400;
			font-size: 0.8rem;
			line-height: 0.8rem;
			text-align: center;
			color: $bg-color-light !important;

			span {
				display: inline-block;
				white-space: pre-wrap;	// For newline via '\n' code, or spaces
			}

			@include respond-to(tablets-and-larger) {
				font-size: 0.66rem;
				line-height: 0.66rem;
			}
		}
	}

	&:hover {
		box-shadow: $box-shadow-large;
		filter: brightness(1.2);
	}

	&.primary {
		background-color: $primary-color;
	}
}
