@import '~@style/_vars.scss';

.SecondaryLink {

	font-size: 0.8em;
	background-color: $darker-text-color;
	border-radius: $radius;

	color: $bg-color !important;
	border: none !important;
	filter: brightness(1);
	transition: box-shadow $medium-anim ease-out, filter $medium-anim ease-out !important;

	.SecondaryLinkContent {

		padding: $medium-gap calc(#{$medium-gap} + 5px);
		@include respond-to(tablets) { padding: $small-gap-T calc(#{$small-gap-T} + 5px); }
		@include respond-to(screens) { padding: calc(#{$small-gap-S} / 2) calc(#{$small-gap-S} + 5px); }

	}

	&.backward {
		.SecondaryLinkContent:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-right: $medium-gap;
			@include equilateral-triangle('left', 5px, $bg-color);
		}
	}

	&.forward {
		.SecondaryLinkContent:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-left: $medium-gap;
			@include equilateral-triangle('right', 5px, $bg-color);
		}
	}

	&.centered {
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	&:hover {
		box-shadow: $box-shadow-large;
		filter: brightness(1.2);
		border: none !important;
	}
}
