@import '~@style/_vars';

.Fetcher {

	.FetchedData {

		// Transition
		visibility: hidden;
		opacity: 0;
		transform: translate3d(0, 10px, 0);
		transition: none;
	}

	&.DataLoaded .FetchedData {
		
		// Transition
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0px, 0);
		transition: opacity $fast-anim ease-out $slow-anim, transform $slow-anim ease-out $slow-anim;
		
		.FetchError {
			.FetchErrorTitle {
				position: relative; left: 0; transform: translateX(0);
				padding: 0;
				margin-bottom: 0;
				color: $error-color;
			}

			.FetchErrorSubtitle {
				margin-top: 0;
				color: $darker-text-color;
			}
		}
	}
}
