@import '~@style/_vars';

.GlobalAward {

	flex: 1 1 0px;
	min-width: 100px;
	@include respond-to(tablets) { min-width: 120px; }
	@include respond-to(screens) { min-width: 160px; }

	display: flex;
	justify-content: center;
	align-items: flex-end;

	.GlobalAwardLink {

		margin: $medium-gap;
		@include respond-to(tablets) { margin: $small-gap-T; }
		@include respond-to(screens) { margin: $small-gap-S; }

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		.GlobalAwardImage {

			position: relative;
			@include respond-to(handhelds) { max-width: 80px; max-height: 80px; }
			@include respond-to(tablets) { max-width: 80px; max-height: 80px; }
			@include respond-to(screens) {
				width: 7vw; height: 7vw;
				max-width: 100px; max-height: 100px;
			}

			border-radius: $radius;

			img {

				filter: grayscale(1) brightness(0.8);
				transition: filter $medium-anim ease-out;
			}
		}

		.GlobalAwardText {

			font-family: 'Berkshire Swash', sans-serif;

			margin: 0;
			padding: $small-gap;
			@include respond-to(tablets) { padding: $small-gap-T; }
			@include respond-to(screens) { padding: $small-gap-S; }

			color: $text-color;
			transition: color $medium-anim ease;

			text-align: center;

			.GlobalAwardYear {
				display: block;
				margin-top: $small-gap;
				border-top: 1px solid $text-color;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 400;
				font-size: 0.8rem;
				color: $darker-text-color;
			}
		}

		&:hover {

			.GlobalAwardImage img {
				filter: grayscale(0) brightness(1);
			}

			.GlobalAwardText {
				color: $lighter-grey;
			}
		}
	}
}
