@import '~@style/_vars';

.Products {

	.GlobalAwards {

		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
		overflow: hidden;
	}

	.ProductsSearch {

		position: sticky;
		top: -1px;
		z-index: 10;
		background-color: $bg-color;

		padding: $medium-gap 0;
		@include respond-to(tablets) { padding: $small-gap-T 0; }
		@include respond-to(screens) { padding: $small-gap-S 0; }

		.ProductsSearchInput {
			display: inline-block;
		}
	}
}
