@import '~@style/_vars.scss';

.Content {

	min-height: 100vh;
	margin: 0 auto;

	width: 100%;
	padding-top: $large-gap;
	padding-left: $center-area-padding; padding-right: $center-area-padding;

	@include respond-to(tablets) {
		width: calc(100% - (2 * #{$sides-width-T}));
		padding-top: $medium-gap-T;
		padding-left: 0; padding-right: 0;
	}

	@include respond-to(screens) {
		width: calc(100% - (2 * #{$sides-width-S}));
		padding-top: $medium-gap-S;
		padding-left: 0; padding-right: 0;
	}

	@include respond-to(wide-screens) {
		width: calc(100% - (2 * #{$sides-width-WS}));
		padding-top: $large-gap-S;
	}

	font-size: 1rem;

	h1 {
		font-family: 'Berkshire Swash', sans-serif;
		color: $lighter-text-color;
		font-size: 1.5rem;
		position: relative;

		margin: 0;
		margin-bottom: calc(2 * #{$large-gap});
		@include respond-to(tablets) { margin-bottom: calc(1.5 * #{$large-gap-T}); }
		@include respond-to(screens) { margin-bottom: calc(1.5 * #{$large-gap-S}); }

		&:after {
			content: '';
			position: absolute;
			left: 0;
			@include respond-to(handhelds) { bottom: calc(-1.5 * #{$medium-gap}); }
			@include respond-to(tablets) { bottom: -$large-gap; }
			@include respond-to(screens) { bottom: -$large-gap-T; }

			height: 0.2rem;
			border-radius: 0.2rem;
			@include respond-to(tablets-and-larger) {
				height: 0.15rem;
				border-radius: 0.15rem;
			}

			width: 60px;
			background-color: $darker-grey;
		}
	}

	h2 {
		display: inline-block;
		position: relative; left: 50%; transform: translateX(-50%);	// Centering

		font-family: 'Source Sans Pro', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		font-weight: 600;
		color: $primary-color;
		font-size: 1.1rem;

		margin: 0;
		margin-bottom: $small-gap;
		padding: $small-gap;

		@include respond-to(tablets) { margin-bottom: $small-gap-T; }
		@include respond-to(screens) { margin-bottom: $small-gap-S; }
	}

	h3 {
		font-family: 'Source Sans Pro', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		font-weight: 600;
		color: $text-color;
		font-size: 1rem;
		
		margin: 0;
		padding: $small-gap;		
	}

	p {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		letter-spacing: 0.01em;
		line-height: 1.3rem;

		a {
			color: $lighter-text-color;
			text-decoration: none;
			font-weight: 400;
			transition: border-bottom $medium-anim ease;
			border-bottom: 1px solid rgba($lightest-text-color, 0);
			display: inline-block;

			&:hover {
				border-bottom: 1px solid rgba($lightest-text-color, 1);
			}
		}
	}
}
