@import '~@style/_vars';

.Nav {
	position: fixed;
	top: 0; bottom: 0; 	// Full height
	left: 0;
	background: none !important;
	z-index: 100;
}

.NavMain {

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 104;
	width: 100%;
	height: $nav-mobile-height;
	background-color: $bg-color-light;

	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

	display: flex;
	flex-direction: row;
	align-items: center;

	@include respond-to(tablets-and-larger) {
		top: 0;
		height: auto;
		background-color: transparent;
		flex-direction: column;
		box-shadow: none;
		align-items: stretch;
	}

	@include respond-to(tablets) {
		width: $sides-width-T;
	}

	@include respond-to(screens) {
		width: $sides-width-S;
	}

	@include respond-to(wide-screens) {
		width: $sides-width-WS;
	}
}

.NavBackground {

	position: fixed;
	left: 50%; bottom: calc(#{$nav-mobile-height} / 2);
	width: 0; height: 0;
	background-color: $bg-color-dark;
	z-index: 101;
	border-radius: 50%;

	transition: all $menu-slide-duration $std-bezier-easing $menu-anim-delay;

	@include respond-to(handhelds) {
		&:before {
			content: '';
			position: fixed;
			left: 0; right: 0;
			bottom: $nav-mobile-height;
			height: calc((100% - #{$nav-mobile-height}) / 2);
			background-color: $bg-color;
			z-index: 104;
			transform: translateY(100%);
			transition: transform $menu-slide-duration $std-bezier-easing;
		}

		&:after {

			content: '';
			position: fixed;
			left: 0; right: 0;
			top: 0;
			height: calc((100% - #{$nav-mobile-height}) / 2);
			z-index: 104;
			opacity: 0;
			visibility: hidden;
			transform: translateY(100%);
			transition: transform $menu-slide-duration $std-bezier-easing;

			// background: url('~@assets/nav/logoPBP_bg.png') center center / auto 55% no-repeat;	// Fallback
			background: url('~@assets/nav/wave.svg') right bottom no-repeat,
						url('~@assets/nav/logoPBP_bg.svg') center center no-repeat;
			background-size: 200% calc(#{$nav-mobile-wave-height} * 100%), auto 55%;

			animation-name: waveAction;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-duration: 5s;
		}

		@keyframes waveAction {
			0% {
				background-position: bottom right, center center;
			}
			100% {
				background-position: bottom left, center center;
			}
		}
	}
}

:global(.menuOpen) .NavBackground {

	width: $nav-mobile-circle-size; height: $nav-mobile-circle-size;
    bottom: calc(#{$nav-mobile-height} - (#{$nav-mobile-circle-size} / 2));
    margin-left: calc(-#{$nav-mobile-circle-size} / 2);
	transition: all $menu-slide-duration $std-bezier-easing;

	@include respond-to(handhelds) {
		&:before {
			transform: translateY(0%);
			transition: transform $menu-slide-duration $std-bezier-easing $menu-anim-delay-mobile;
		}

		&:after {
			visibility: visible;
			opacity: 1;
			transform: translateY(0%);
			transition: transform $menu-slide-duration $std-bezier-easing $menu-anim-delay-mobile;
		}
	}
}

.NavContentOverlay {
	display: none;
}

@include respond-to(tablets-and-larger) {

	.NavBackground {
		top: 0;	left: 0; bottom: 0;	// Full height
		width: $nav-open-width; height: auto;
		margin: 0 !important;
		background-color: $bg-color;
		/* box-shadow: 5px -5px 5px $bg-color;	// menu shadow over the page content */
		/* box-shadow: 40px 0 40px rgba(0, 0, 0, 0.1);	// menu shadow over the page content */
		border-radius: 0;
		transform: translateX(-100%);
	}

	:global(.menuOpen) .NavBackground {
		top: 0;	left: 0; bottom: 0;	// Full height
		width: $nav-open-width; height: auto;
		margin: 0 !important;
		transform: translateX(0%);
	}

	.NavContentOverlay {
		display: block;
		position: fixed;
		top: 0; left: 0; right: 0; bottom: 0;	// Full screen
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		transition: opacity $std-bezier-easing $menu-slide-duration, visibility $std-bezier-easing $menu-slide-duration;
	}

	:global(.menuOpen) .NavContentOverlay {
		visibility: visible;
		opacity: 1;
		transition: opacity $std-bezier-easing $menu-anim-delay, visibility $std-bezier-easing $menu-anim-delay;
	}
}

.HomeLink {

	display: flex;
	justify-content: center;
	align-items: center;

	@include respond-to(tablets) {
		flex-shrink: 0;
		height: $visual-header-height-T;
	}

	@include respond-to(screens) {
		flex-shrink: 0;
		height: $visual-header-height-S;
	}

	.HomeLogo {

		// Colors
		.LogoPBPbat { fill: $lighter-text-color; }
		.LogoPBPhop { fill: $primary-color; }
		.LogoPBPbat, .LogoPBPhop {
			filter: brightness(1);
			transition: filter $medium-anim ease-out;
			will-change: filter;
		}

		margin: auto;
		height: $nav-main-logo-height;
		width: auto;

		&:hover {
			.LogoPBPbat, .LogoPBPhop {
				filter: brightness(1.2);
			}
		}

		@include respond-to(tablets) {
			height: $nav-main-logo-height-T;
		}

		@include respond-to(screens) {
			height: $nav-main-logo-height-S;
		}
	}
}

.FacebookLink {

	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	@include respond-to(tablets-and-larger) {
		max-height: 60px;	// flex expansion limit
	}

	.FacebookLogo {

		height: $nav-fb-logo-height;
		filter: grayscale(1) brightness(0.8);
		display: block;
		margin: 0 auto;
		transition: filter $medium-anim ease-out;
		will-change: filter;

		@include respond-to(tablets-and-larger) {
			width: 30px;
			height: auto;
		}
	}

	&:hover {

		.FacebookLogo {
			filter: grayscale(0) brightness(1);
		}
	}
}

@include respond-to(handhelds) {

	.MobileNavButton {
		flex: 1 0 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: $nav-mobile-height;
	}
}
