@import '~@style/_vars';

.NavDetails {

	position: fixed;
	z-index: 102;
	top: 0; 
	left: 0;
	width: 100%;
	overflow: hidden;

	height: calc(((100% - #{$nav-mobile-height}) / 2)); // * (1 - #{$nav-mobile-wave-height})

	@include respond-to(tablets-and-larger) {
		height: auto;
		bottom: 0;	// Full height
		display: flex;
		flex-direction: column;
	}


	@include respond-to(tablets) {
		left: $sides-width-T;
		width: calc(#{$nav-open-width} - #{$sides-width-T} - 3%);
	}

	@include respond-to(screens) {
		left: $sides-width-S;
		width: calc(#{$nav-open-width} - #{$sides-width-S} - 3%);
	}

	@include respond-to(wide-screens) {
		left: $sides-width-WS;
		width: calc(#{$nav-open-width} - #{$sides-width-WS} - 3%);
	}

	.NavDetailsDesc {

		display: none;
		color: $text-color;
		cursor: default;

		@include respond-to(tablets-and-larger) {

			display: flex;
			height: $visual-header-height;
			flex-shrink: 0;

			@include respond-to(tablets) {
				height: $visual-header-height-T;
			}

			@include respond-to(screens) {
				height: $visual-header-height-S;
			}

			p {
				margin: auto;
				margin-left: 0;
				font-weight: 300;
				font-style: italic;
				font-size: 0.9rem;
			}
		}
	}

	.NavDetailsContent {

		display: block;
		margin: 2vh 5vw;
		height: 100%;

		overflow: scroll-y;

		::-webkit-scrollbar { 
			display: none; 
		}

		@include respond-to(tablets-and-larger) {
			
			flex: auto;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: flex-start;
			margin: 0;
		}
	}

	.NavDetailsLinks {

		@include respond-to(tablets-and-larger) {
			margin-bottom: 20px;
			min-width: 50%;
			flex: 0 0 50%;
			margin-right: $medium-gap-S;
		}
	}

	.NavDetailsTitle {

		margin: 0;
		margin-bottom: $medium-gap;
		@include respond-to(tablets) { margin-bottom: $small-gap-T; }
		@include respond-to(screens) { margin-bottom: $small-gap-S; }

		display: block;
		text-transform: uppercase;
		font-size: 1.3rem;
		color: $lightest-text-color;
		font-weight: 600;
		letter-spacing: 0em;
		cursor: default;

		text-align: center;
		margin-top: $huge-gap;

		@include respond-to(tablets-and-larger) {
			text-align: left;
			margin-top: 0;
		}
	}

	.NavDetailsSubsections {

		margin: 0; padding: 0;
		list-style-type: none;

		.NavDetailsSubsection a {

			display: block;
			font-size: 3.5vh;
			font-weight: 300;
			letter-spacing: 0em;
			color: $text-color;
			transition: color $fast-anim ease-out;
			padding: 3px 0;

			@include respond-to(tablets-and-larger) {
				padding: 5px 0;
				font-size: 0.8rem;
			}

			@include respond-to(medium-screens) {
				font-size: 0.9rem;
			}

			&:hover {
				color: $lighter-text-color;
			}
		}
	}

	.NavDetailsImages {

		display: none;
		
		@include respond-to(tablets-and-larger) {

			display: grid;

			grid-gap: $small-gap $small-gap;
			@include respond-to(tablets) { grid-gap: $nav-images-gutter-T $nav-images-gutter-T; }
			@include respond-to(screens) { grid-gap: $nav-images-gutter-S $nav-images-gutter-S; }

			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			grid-auto-flow: row;

			justify-items: stretch;
			align-items: stretch;

			.NavDetailsImage {
				
				width: auto;
				height: auto;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
