@import '~@style/_vars';

.NavMobileBurger {

	cursor: pointer;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;

	@include respond-to(tablets-and-larger) {
		display: none;
	}

	.NavMobileBurgerLogo {

		height: 25px;
		width: 30px;

		.NavMobileBurgerX, .NavMobileBurgerY, .NavMobileBurgerZ {
			position: relative;
			margin: auto;
			width: 30px; height: 3px;
			background: $text-color;
			border-radius: 3px;
			transition: all $medium-anim ease-out;
		}

		.NavMobileBurgerY { top: 8px; }
		.NavMobileBurgerZ { top: 16px; }
	}


	&.navBurgerCollapse {

		.NavMobileBurgerX, .NavMobileBurgerY, .NavMobileBurgerZ {
			transition: top 70ms ease-out, transform $medium-anim ease-out;
		}
		.NavMobileBurgerX { top: 11px; transform: rotate(45deg) scale(1.2); }
		.NavMobileBurgerY { top: 9px; visibility: hidden; }
		.NavMobileBurgerZ { top: 5px; transform: rotate(135deg) scale(1.2);}
	}

	&:hover {
		.NavMobileBurgerX, .NavMobileBurgerY, .NavMobileBurgerZ {
			background: $lighter-text-color;
		}
	}
}
