@import '~@style/_vars';

.NavSections {

	position: fixed;
	z-index: -1;
	left: 0; right: 0;
	bottom: $nav-mobile-height;

	display: flex;
	flex-flow: row wrap;
	//justify-content: space-between;
	align-items: center;

	padding: 0; margin: 0;
	height: calc((100% - #{$nav-mobile-height}) / 2);

	overflow: scroll-y;

	@include respond-to(handhelds) {
		visibility: hidden;
		opacity: 0;
		transform: translateY(10px);
		transition: opacity $menu-items-opacity-duration ease-in, transform $menu-items-transform-duration ease-in, visibility 0s $menu-items-opacity-duration;
	}

	@include respond-to(tablets-and-larger) {

		flex: auto;
		display: flex;
		position: relative;
		left: auto; right: auto; bottom: auto;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		padding: 0; margin: 0;
	}
}

@include respond-to(handhelds) {

	:global(.menuOpen) .NavSections {
		visibility: visible;
		opacity: 1;
		transform: translateY(0px);
		transition: opacity $menu-items-opacity-duration ease-out $menu-anim-delay, transform $menu-items-transform-duration ease-out $menu-anim-delay;
	}
}

.NavSection {
	
	flex: 1 1 33%;
	display: flex;
	justify-content: center;
	align-items: center;

	@include respond-to(tablets-and-larger) {
		flex: auto;
		display: block;
	}

	&:hover {
		width: 100%;
	}

	div {

		.NavSectionLogo {
			filter: grayscale(1) brightness(0.8);
			display: block;
			margin: 0 auto;
			transition: filter $medium-anim ease-out;
			cursor: pointer;

			height: $nav-logos-height;
			@include respond-to(tablets-and-larger) { height: $nav-logos-height-TM; }
		}

		.NavSectionTitle {

			text-align: center;
			color: $text-color;
			text-transform: uppercase;
			letter-spacing: 0.03em;
			display: block;
			margin-top: 3px;
			cursor: pointer;
			transition: all $medium-anim ease-out;

			font-size: 0.85rem;

			@include respond-to(wide-handhelds) { font-size: 0.9rem; }

			@include respond-to(tablets-and-larger) {

				font-size: 0.75rem;

				opacity: 1;

				:global(.readingMode) & {
					opacity: 0;
				}
				:global(.readingMode) :global(.menuOpen) & {
					opacity: 1 !important;
				}
			}			
		}

		.NavSectionDetails {

			@include respond-to(handhelds) {
				top: -100%; // * (1 - #{$nav-mobile-wave-height})
				height: 100%;
			}

			// Transition
			visibility: hidden;
			opacity: 0;
			transform: translate3d(0, 10px, 0);
			transition: opacity $menu-items-opacity-duration ease-in, transform $menu-items-transform-duration ease-in, visibility 0s $menu-items-opacity-duration;
		}

		&.sectionIsActive, &:hover {

			.NavSectionLogo {
				filter: grayscale(0) brightness(1);
			}

			.NavSectionTitle {
				color: $lighter-text-color;
			}
		}
	}
}

:global(.menuOpen) .NavSection:hover .NavSectionDetails, :global(.menuOpen) .NavSection .sectionIsActive .NavSectionDetails {
	// Transition
	visibility: visible;
	opacity: 1;
	transform: translate3d(0, 0px, 0);
	transition: opacity $menu-items-opacity-duration ease-out $menu-anim-delay, transform $menu-items-transform-duration ease-out $menu-anim-delay;
}
