@import '~@style/_vars';

.Popup {

	display: none;

	position: fixed;
	top: 0; bottom: 0; 	// Full height
	left: 0;
	z-index: 150;

	&:global(.isOpen) {
		display: block;
	}

	@keyframes bgFade { 0% { opacity: 0; } }
	@keyframes contentFade { 0% { opacity:0; transform:translate(-50%, 0%) scale(0.7); } }

	.PopupBackdrop {
		position: fixed;
		z-index: 151;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		animation: bgFade 300ms ease forwards 1;
	}

	.PopupPanel {

		position: fixed;
		z-index: 152;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		background: $bg-color;
		box-shadow: $box-shadow-extra-large;
		animation: contentFade 300ms ease forwards 1;

		overflow: hidden;

		width: 100vw; height: 100vh;
		@include respond-to(tablets) { width: auto; height: auto; min-width: 80vw; min-height: 20vh; max-height: 100vh; }
		@include respond-to(screens) { width: auto; height: auto; min-width: 40vw; min-height: 20vh; max-height: 100vh; }

		padding: 0;

		@include respond-to(tablets-and-larger) { border-radius: $radius }

		.PopupTitle {

			background-color: $bg-color-light;
			color: $lighter-text-color;
			font-size: 1.12rem;
			font-family: 'Berkshire Swash', sans-serif;

			padding: $huge-gap;
			@include respond-to(tablets) { padding: $medium-gap-T $huge-gap-T; }
			@include respond-to(screens) { padding: $medium-gap-S $huge-gap-S; }
		}

		.PopupContent {
			overflow-y: auto;

			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			letter-spacing: 0.01em;
			line-height: 1.3rem;

			a {
				color: $lighter-text-color;
				text-decoration: none;
				font-weight: 400;
				transition: border-bottom $medium-anim ease;
				border-bottom: 1px solid rgba($lightest-text-color, 0);
				display: inline-block;

				&:hover {
					border-bottom: 1px solid rgba($lightest-text-color, 1);
				}
			}

			padding: $huge-gap;
			@include respond-to(tablets) { padding: $medium-gap-T $huge-gap-T; }
			@include respond-to(screens) { padding: $medium-gap-S $huge-gap-S; }

			max-height: calc(100vh - 2 * #{$huge-gap});
			@include respond-to(tablets) { max-height: calc(100vh - 2 * #{$huge-gap-T}); }
			@include respond-to(screens) { max-height: calc(100vh - 2 * #{$huge-gap-S}); }
		}
	}

	.PopupCloseButton {

		position: absolute;
		top: 0; right: 0;
		color: $grey;

		padding: $huge-gap;
		padding-right: calc(1.2 * #{$huge-gap});
		@include respond-to(tablets) { padding: $medium-gap-T; }
		@include respond-to(screens) { padding: $medium-gap-S; }

		&:hover {
			color: $lighter-grey;
		}
	}

	&:global(.primary) {
		.PopupPanel {

			.PopupTitle {
				background-color: $primary-color;
				color: $bg-color;
			}
		}

		.PopupCloseButton {

			color: $bg-color;

			&:hover {
				color: $lighter-grey;
			}
		}
	}
}
