@import '~@style/_vars.scss';

.SearchBar {

	width: 100%;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	margin: 0;
	
	border-radius: $radius;

	background-color: rgba(255, 255, 255, 0.07);

	input[type=text] {
		display: block;
		flex: 1 0 auto;
		width: auto;
		color: $text-color;
	}

	.SearchBarButton {

		display: flex;
		justify-content: center;
		align-items: center;

		.ButtonSearch, .ButtonClose {
			color: $text-color;
		}
	}
}
