@import '~@style/_vars.scss';

.SearchTextInput {

	display: inline-block;
	border: none;

	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;

	padding: $medium-gap; font-size: 1rem;
	@include respond-to(tablets) { padding: $small-gap-T; font-size: 0.9rem; }
	@include respond-to(screens) { padding: $small-gap-S; font-size: 0.8rem; }

	&.transparent {
		background-color: transparent;
	}

}
