@import '~@style/_vars.scss';

.SearchButton {

	display: inline-block;
	border: none;

	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 0.8rem;

	cursor: pointer;

	padding: $medium-gap;
	@include respond-to(tablets) { padding: $small-gap-T; }
	@include respond-to(screens) { padding: $small-gap-S; }

	&.transparent {
		background-color: transparent;
	}

}
