@import '~@style/_vars.scss';

.Sidebar {

	margin: 0;
	z-index: 20;

	// Default : handhelds
	position: relative;
	width: 100%;
	top: 0;
	right: 0;
	padding: $sidebar-vertical-padding $sidebar-padding;

	@include respond-to(handhelds) {

		&:not(.IsRoot) {
			display: none;
		}

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;

		:global(.Widget) {
			margin-bottom: $medium-gap;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include respond-to(wide-handhelds) {

		flex-direction: row;

		:global(.Widget) {

			width: 48%;
			margin-bottom: 0;

			:global(.Primalink) {
				height: 100%;
			}
		}
	}
	
	@include respond-to(tablets) {
		position: absolute;
		width: $sides-width-T;
		top: $header-height-T;
		padding: $sidebar-vertical-padding-T $sidebar-padding-T;
	}

	@include respond-to(screens) {
		position: absolute;
		width: $sides-width-S;
		top: $header-height-S;
		padding: $sidebar-vertical-padding-S $sidebar-padding-S;
	}

	@include respond-to(wide-screens) {
		width: $sides-width-WS;
		padding: $sidebar-vertical-padding-WS $sidebar-padding-WS;
	}
}
