@import '~@style/_vars';

.Album {

	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
	align-items: stretch;

	overflow: hidden;

	background-color: $bg-color-light;
	box-shadow: $box-shadow-small;
	border-radius: $small-radius;
	transition: all $instant-anim ease-out;

	.AlbumImage {

		flex: 1 0 200px;
		@include respond-to(tablets) { flex: 1 0 150px; }
		@include respond-to(screens) { flex: 1 0 200px; }

		img {
			filter: grayscale(1) brightness(0.8);
			transition: filter $instant-anim ease-out;
		}
	}

	.AlbumDesc {

		flex: 1 0 1;

		$album-font-size: 0.9rem;

		position: relative;

		padding: $large-gap;
		@include respond-to(tablets) { padding: $medium-gap-T; }
		@include respond-to(screens) { padding: $medium-gap-S; }

		h4 {
			display: block;
			font-family: 'Berkshire Swash', sans-serif;
			color: $text-color;
			font-size: 1rem;
			line-height: 1rem;
			margin: 0;
			margin-bottom: $small-gap;

			transition: all $instant-anim ease-out;
		}

		h6 {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400;
			color: $darker-text-color;
			font-size: 0.6rem;
			line-height: 1rem;
			margin: 0;

			margin-bottom: -$small-gap;
		}
	}

	&:hover {
		background-color: $bg-color-lighter;

		.AlbumImage img {
			filter: grayscale(0) brightness(1);
		}

		.AlbumDesc {

			h4 {
				color: $lighter-text-color;
			}
		}
	}
}
