@import '~@style/_vars';

.Albums {

	.AlbumsList {
		
		display: grid;
		grid-gap: $large-gap $large-gap;

		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-auto-flow: row;

		justify-items: stretch;
		align-items: stretch;

		@include respond-to(wide-handhelds) { grid-template-columns: 1fr 1fr; }
		@include respond-to(tablets) { grid-template-columns: 1fr 1fr; }
		@include respond-to(screens) { grid-template-columns: 1fr 1fr 1fr; }
	}
}
