@import '~@style/_vars';

:global(.fslightbox-container) {
	font-family: 'Source Sans Pro', sans-serif !important;
}

.Photos {

	.Album {

		position: relative;

		.AlbumTitle {
			margin-bottom: calc(1.5 * #{$large-gap});
			@include respond-to(tablets) { margin-bottom: $large-gap-T; }
			@include respond-to(screens) { margin-bottom: $large-gap-S; }
		}

		.AlbumSubTitle {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400;
			font-style: italic;
			color: $darker-text-color;
			font-size: 0.9rem;
			line-height: 1rem;
			margin: 0;
			margin-bottom: $large-gap;
		}

		.AlbumDesc {
			
		}

		.PhotosList {

			display: grid;
			grid-gap: $medium-gap $medium-gap;

			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-auto-flow: row;

			justify-items: stretch;
			align-items: stretch;

			@include respond-to(wide-handhelds) { grid-template-columns: 1fr 1fr; }
			@include respond-to(tablets) { grid-template-columns: 1fr 1fr; }
			@include respond-to(screens) { grid-template-columns: 1fr 1fr 1fr; }

			.Photo {

				display: flex;
				flex-flow: column nowrap;
				justify-content: stretch;
				align-items: stretch;

				position: relative;
				overflow: hidden;

				.PhotoImage {

					flex: 1 0 200px;
					@include respond-to(tablets) { flex: 1 0 150px; }
					@include respond-to(screens) { flex: 1 0 200px; }
				}

				.PhotoLegend {

					position: absolute;
					bottom: -1px;
					width: 100%;

					font-size: 0.7rem;
					color: $text-on-images-color;
					text-shadow: $text-on-images-shadow;
					background-image: $text-on-images-gradient;

					padding: $small-gap; padding-top: $large-gap;
					@include respond-to(tablets) { padding: $small-gap-T; padding-top: $large-gap-T; }
					@include respond-to(screens) { padding: $small-gap-S; padding-top: $large-gap-S; }

					transform: translateY(100%);
					transition: transform $slow-anim $std-bezier-easing;
				}

				&:hover .PhotoLegend {
					transform: translateY(0);
				}
			}
		}
	}
}
