@import '~@style/_vars.scss';

.Spacer {

	display: block;
	height: 0;
	width: 100%;

	margin: 0; padding: 0;

	margin-bottom: calc(1.5 * #{$medium-gap});
	@include respond-to(tablets) { margin-bottom: calc(1.5 * #{$medium-gap-T}); }
	@include respond-to(screens) { margin-bottom: calc(1.5 * #{$medium-gap-S}); }

	&.large {
		margin-bottom: calc(1.5 * #{$large-gap});
		@include respond-to(tablets) { margin-bottom: calc(1.5 * #{$large-gap-T}); }
		@include respond-to(screens) { margin-bottom: calc(1.5 * #{$large-gap-S}); }
	}

	&.huge {
		margin-bottom: calc(2.5 * #{$large-gap});
		@include respond-to(tablets) { margin-bottom: calc(2.5 * #{$large-gap-T}); }
		@include respond-to(screens) { margin-bottom: calc(2.5 * #{$large-gap-S}); }
	}

	&.small {
		margin-bottom: calc(1.5 * #{$small-gap});
		@include respond-to(tablets) { margin-bottom: calc(1.5 * #{$small-gap-T}); }
		@include respond-to(screens) { margin-bottom: calc(1.5 * #{$small-gap-S}); }
	}
}
