@import '~@style/_vars';

.Review {

	display: flex;
	font-size: 0.9rem;

	flex-flow: column nowrap;
	align-items: center;
	padding: $large-gap 0;

	@include respond-to(tablets) {
		padding: $huge-gap-T 0;
	}

	@include respond-to(screens) {
		padding: $huge-gap-S 0;
	}

	@include respond-to(tablets-and-larger) {
		flex-flow: row nowrap;
		align-items: center;
	}
	
	.ReviewImage {

		flex: 0 0 auto;
		width: 120px; height: 120px;
		@include respond-to(tablets) { width: 120px; height: 120px; margin-right: $large-gap-T; }
		@include respond-to(screens) { width: 180px; height: 180px; margin-right: $large-gap-S; }

		&.ReviewImageAlt {
			@include respond-to(tablets) { margin-left: $large-gap-T; margin-right: 0; order: 2;}
			@include respond-to(screens) { margin-left: $large-gap-S; margin-right: 0; order: 2;}
		}

		img {
			width: 100%; height: 100%;
		}
	}

	.ReviewText {

		padding: calc(1.5rem / 2) 0;

		border-bottom: 1px solid $sep-dark-color;

		.ReviewDesc {
			
			margin-bottom: $small-gap;
			@include respond-to(tablets) { margin-bottom: $small-gap-T; }
			@include respond-to(screens) { margin-bottom: $small-gap-S; }

			.ReviewDescQuote {

				position: relative;

				&:before {
					content: '“';

					z-index: -1;

					position: absolute;
					top: -1.5rem; left: -0.6rem;
					font-family: "Berkshire Swash", sans-serif;
					font-size: 6rem;
					color: $darkest-grey;

					@include respond-to(tablets) { top: -1.5rem; left: -1.2rem; }
					@include respond-to(screens) { top: -1.5rem; left: -1.7rem; }
				}
			}

			p {
				margin: 0;
				font-size: 1rem;
				line-height: 1.4rem;
			}
		}

		.ReviewInfo {

			font-size: 0.8em;

			text-transform: uppercase;
			letter-spacing: 0.03em;

			padding: $small-gap 0;
			@include respond-to(tablets) { padding: $small-gap-T 0; }
			@include respond-to(screens) { padding: $small-gap-S 0; }

			.ReviewAuthor {
				color: $darker-grey;
				font-weight: 600;
			}

			.ReviewRating {
				color: $darker-grey;
			}

			.ReviewVia {
				color: $darkest-grey;
				font-size: 0.9em;
				font-weight: bold;
			}

			.ReviewDash {
				color: $darkest-grey;
				font-size: 0.8rem;
				font-weight: normal;
			}
		}
	}
}
