@import '~@style/_vars.scss';

.OpeningHoursWidget {

	margin-bottom: $sidebar-padding;
	@include respond-to(tablets) { margin-bottom: calc(#{$sidebar-padding-T} / 1.2); }
	@include respond-to(screens) { margin-bottom: calc(#{$sidebar-padding-S} / 1.2); }

	.OpeningHoursWidgetLinkSpan {
		&:before {
			content: 'Ouvert ';
			@include respond-to(tablets-and-larger) { content: ''; }
		}
	}

	.OpeningHoursWidgetTitle {
		font-size: 1.12rem;
		font-family: 'Berkshire Swash', sans-serif;
		margin: 0;

		margin-bottom: $small-gap;
		@include respond-to(tablets) { margin-bottom: $small-gap-T; }
		@include respond-to(screens) { margin-bottom: $small-gap-S; }

		display: none;
		@include respond-to(tablets-and-larger) { display: block; }
	}
}
