@import '~@style/_vars';

.TestImagesBlock {

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	.TestImageCover, .TestImageFit {
		width: 150px; height: 150px;
	}
}
