@import '~@style/_vars';

.Image {

	display: inline-block;
	zoom: 1;
	*display: inline;
	overflow: hidden;

	position: relative;

	// Placeholder
	background-color: $bg-color-light;

	img {
		display: block;
		width: auto; height: auto;
		opacity: 0;
		transition: opacity $instant-anim ease-out;
	}

	// WHEN LOADED
	// ------------------------------

	&.loaded {

		background-color: transparent;

		img {
			opacity: 1;
		}
	}

	// FORM
	// ------------------------------

	&.Rounded {

		border-radius: $radius;

		img {
			border-radius: $radius;
		}

		&:after {
			border-radius: $radius;
		}
	}

	&.SmallRounded {

		border-radius: $small-radius;

		img {
			border-radius: $small-radius;
		}

		&:after {
			border-radius: $small-radius;
		}
	}

	&.Circular {

		border-radius: 50%;

		&:after {
			border-radius: 50%;
		}
	}

	// SHADOW
	// ------------------------------

	&.Shadow {
		box-shadow: $box-shadow-extra-large;
	}

	&.FlatShadow {
		box-shadow: $box-shadow-small;
	}

	&.InnerShadow {
		&.loaded:after {
			content: '';
			width: 100%; height: 100%;
			display: block;
			position: absolute;
			top: 0; left: 0;
			z-index: 1;
			box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 255);
		}
	}

	// NO PLACEHOLDER
	// ------------------------------

	&.NoPlaceholder {
		background-color: transparent;
	}

	// BEHAVIOR
	// ------------------------------

	&.Cover {

		img {
			width: 100%; height: 100%;
			object-fit: cover;
		}
	}

	&.Fit {

		img {
			width: 100%; height: 100%;
			object-fit: contain;
		}
	}

	&.FullWidth {

		img {
			max-width: 100%; max-height: 100%;
			width: 100%; height: auto;
		}
	}
	
}
