@import '~@style/_vars.scss';

.ScrollUp {

	position: fixed;
	z-index: 50;

	// Position
	left: 50%;
	bottom: calc(#{$nav-mobile-height} + #{$scrollup-button-bottom});
	@include respond-to(tablets-and-larger) { bottom: $scrollup-button-bottom; }

	// Size
	width: $scrollup-button-height; height: $scrollup-button-height;
	@include respond-to(tablets) { width: $scrollup-button-height-T; height: $scrollup-button-height-T; }
	@include respond-to(screens) { width: $scrollup-button-height-S; height: $scrollup-button-height-S; }

	border-radius: 50%;
	box-shadow: $box-shadow-extra-large;
	background-color: lighten($bg-color-light, 5%);
	transform: translate(-50%, 0);

	opacity: 0;
	visibility: hidden;
	transition: opacity $very-slow-anim $std-bezier-easing, visibility $very-slow-anim $std-bezier-easing, background-color $medium-anim ease-out;

	:global(.readingMode) & {
		opacity: 1;
		visibility: visible;
		transition: opacity $very-slow-anim $std-bezier-easing, visibility $very-slow-anim $std-bezier-easing, background-color $medium-anim ease-out;
	}

	display: flex;
	justify-content: center;
	align-items: center;

	.ScrollUpArrow {
		margin: 10px;

		.ScrollUpArrowPath {
			fill: $grey;
			transition: fill $medium-anim ease-out;
		}
	}

	&:hover {

		background-color: lighten($bg-color-light, 8%);

		.ScrollUpArrowPath {
			fill: $lighter-grey;
		}
	}
}
