@import '~@style/_vars';

.Loader {

	padding: $large-gap;
	@include respond-to(tablets) { padding: $large-gap; }
	@include respond-to(screens) { padding: $large-gap; }

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	color: $darker-grey;

	visibility: visible;
	opacity: 1;
	max-height: 400px;
	transition: none;

	&.Loaded {
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		padding: 0;
		transition: opacity $slow-anim ease-out, visibility 0s $slow-anim, max-height 0s $slow-anim, padding 0s $slow-anim;
	}

	.LoaderImage {

		position: relative;

		$loader-size: 35px;
		$loader-width: 4px;

		width: $loader-size; 
		height: $loader-size;
		border-radius: 100%;
		// Background
		//border: $loader-width solid rgba($grey, 0.2);

		&:after {

			content: '';
			position: absolute;
			top: -$loader-width; left: -$loader-width; bottom: -$loader-width; right: -$loader-width;
			border-radius: 100%;
			border-top: $loader-width solid $darker-grey;
			// Removing fancy moon form (straight arc limit)
			/*
			border: $loader-width solid transparent;
			border-top-color: $grey;
			*/
			animation: spin 1s linear infinite;
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}
	}

	.LoaderText {
		text-align: center;
	}
}
