@import '~@style/_vars.scss';

.NewsletterWidget {

	@include respond-to(tablets-and-larger) {
		position: fixed;
		bottom: 0; right: 0;
		z-index: 1;

		/*
		background-color: $bg-color;

		:global(.readingMode) & {
			background-color: transparent;
		}

		*/
	}

	@include respond-to(tablets) {
		width: $sides-width-T;
		padding: $small-gap-T $sidebar-padding-T;
	}

	@include respond-to(screens) {
		width: $sides-width-S;
		padding: $small-gap-S $sidebar-padding-S;
	}

	@include respond-to(wide-screens) {
		width: $sides-width-WS;
		padding: $small-gap-S $sidebar-padding-WS;
	}

	.NewsletterWidgetSubcaption {

		display: none;

		@include respond-to(screens) {
		
			display: block;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			text-align: center;
			color: $darker-text-color;
			font-size: 0.7rem;
		}
	}

	.NewsletterWidgetSubForm {
		.NewsletterWidgetSubFormSubmit {

			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;

			a {
				//display: inline !important;
			}
		}
	}
}
