// Global colors

$raisin-black: #26221f;
$raisin-black-dark: #1a1715;
$raisin-black-light: lighten(desaturate($raisin-black, 2%), 2%); // #2b2724
$raisin-black-lighter: lighten(desaturate($raisin-black-light, 1%), 1%); // #2d2a28
$orange: #f57720;
$pale-orange: #d18145;
$green: #87ae3c;
$red: #ba6767;
$grey: #a2a2a2;
$darkest-grey: #424242;
$darker-grey: #666666;
$lighter-grey: #dfdfdf;
$white: #ffffff;
$snow: #fafafa;
$black: #000000;

$bg-color: $raisin-black;
$bg-color-light: $raisin-black-light;
$bg-color-lighter: $raisin-black-lighter;
$bg-color-dark: $raisin-black-dark;
$text-color: $grey;
$darker-text-color: $darker-grey;
$lighter-text-color: $lighter-grey;
$lightest-text-color: $white;

$primary-color: $green;
$secondary-color: $pale-orange;
$error-color: $pale-orange;
$success-color: $green;

// Modals
$modal-bg-color: rgba(0, 0, 0, 0.85);

// Separators
$sep-color: $darker-grey;
$sep-dark-color: $darkest-grey;
