// Berkshire Swash | Regular | Bold
@font-face {
	font-family: 'Berkshire Swash';
	src: local('Berkshire Swash'), local('BerkshireSwash-Regular'),
		url('./../assets/fonts/BerkshireSwash/BerkshireSwash-Regular.woff2') format('woff2'),
		url('./../assets/fonts/BerkshireSwash/BerkshireSwash-Regular.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

// Source Sans Pro | Regular | Normal
@font-face {
	font-family: 'Source Sans Pro';
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Source Sans Pro | Regular | Italic
@font-face {
	font-family: 'Source Sans Pro';
	src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-It.woff2') format('woff2'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-It.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

// Source Sans Pro | Light | Normal
@font-face {
	font-family: 'Source Sans Pro';
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-Light.woff2') format('woff2'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

// Source Sans Pro | Light | Italic
@font-face {
	font-family: 'Source Sans Pro';
	src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-LightIt.woff2') format('woff2'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

// Source Sans Pro | Semibold | Normal
@font-face {
	font-family: 'Source Sans Pro';
	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-Semibold.woff2') format('woff2'),
		url('./../assets/fonts/SourceSansPro/SourceSansPro-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

// IconFont | Regular | Normal
@font-face {
  font-family: 'IconFont';
  src:  url('./../assets/fonts/IconFont/IconFont.woff') format('woff'),
    url('./../assets/fonts/IconFont/IconFont.svg#IconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(.icon-plus):before {
  content: "\f067";
}
:global(.icon-minus):before {
  content: "\f068";
}
:global(.icon-search):before {
  content: "\f002";
}
:global(.icon-envelope-o):before {
  content: "\f003";
}
:global(.icon-heart):before {
  content: "\f004";
}
:global(.icon-star):before {
  content: "\f005";
}
:global(.icon-star-o):before {
  content: "\f006";
}
:global(.icon-th-large):before {
  content: "\f009";
}
:global(.icon-th-list):before {
  content: "\f00b";
}
:global(.icon-check):before {
  content: "\f00c";
}
:global(.icon-close):before {
  content: "\f00d";
}
:global(.icon-remove):before {
  content: "\f00d";
}
:global(.icon-times):before {
  content: "\f00d";
}
:global(.icon-cog):before {
  content: "\f013";
}
:global(.icon-gear):before {
  content: "\f013";
}
:global(.icon-trash-o):before {
  content: "\f014";
}
:global(.icon-download):before {
  content: "\f019";
}
:global(.icon-refresh):before {
  content: "\f021";
}
:global(.icon-lock):before {
  content: "\f023";
}
:global(.icon-tag):before {
  content: "\f02b";
}
:global(.icon-map-marker):before {
  content: "\f041";
}
:global(.icon-chevron-left):before {
  content: "\f053";
}
:global(.icon-chevron-right):before {
  content: "\f054";
}
:global(.icon-arrow-left):before {
  content: "\f060";
}
:global(.icon-arrow-right):before {
  content: "\f061";
}
:global(.icon-arrow-up):before {
  content: "\f062";
}
:global(.icon-arrow-down):before {
  content: "\f063";
}
:global(.icon-calendar):before {
  content: "\f073";
}
:global(.icon-chevron-up):before {
  content: "\f077";
}
:global(.icon-chevron-down):before {
  content: "\f078";
}
:global(.icon-facebook-square):before {
  content: "\f082";
}
:global(.icon-comments):before {
  content: "\f086";
}
:global(.icon-star-half):before {
  content: "\f089";
}
:global(.icon-upload):before {
  content: "\f093";
}
:global(.icon-phone):before {
  content: "\f095";
}
:global(.icon-wrench):before {
  content: "\f0ad";
}
:global(.icon-list-ul):before {
  content: "\f0ca";
}
:global(.icon-caret-down):before {
  content: "\f0d7";
}
:global(.icon-caret-up):before {
  content: "\f0d8";
}
:global(.icon-caret-left):before {
  content: "\f0d9";
}
:global(.icon-caret-right):before {
  content: "\f0da";
}
:global(.icon-sort):before {
  content: "\f0dc";
}
:global(.icon-unsorted):before {
  content: "\f0dc";
}
:global(.icon-envelope):before {
  content: "\f0e0";
}
:global(.icon-mobile):before {
  content: "\f10b";
}
:global(.icon-mobile-phone):before {
  content: "\f10b";
}
:global(.icon-quote-left):before {
  content: "\f10d";
}
:global(.icon-quote-right):before {
  content: "\f10e";
}
:global(.icon-code):before {
  content: "\f121";
}
:global(.icon-star-half-empty):before {
  content: "\f123";
}
:global(.icon-star-half-full):before {
  content: "\f123";
}
:global(.icon-star-half-o):before {
  content: "\f123";
}
:global(.icon-calendar-o):before {
  content: "\f133";
}
:global(.icon-ellipsis-h):before {
  content: "\f141";
}
:global(.icon-ellipsis-v):before {
  content: "\f142";
}
:global(.icon-youtube-play):before {
  content: "\f16a";
}
:global(.icon-trash):before {
  content: "\f1f8";
}
:global(.icon-copyright):before {
  content: "\f1f9";
}
:global(.icon-bicycle):before {
  content: "\f206";
}
:global(.icon-facebook-official):before {
  content: "\f230";
}
:global(.icon-trademark):before {
  content: "\f25c";
}
:global(.icon-registered):before {
  content: "\f25d";
}
:global(.icon-creative-commons):before {
  content: "\f25e";
}
:global(.icon-tripadvisor):before {
  content: "\f262";
}
:global(.icon-firefox):before {
  content: "\f269";
}
:global(.icon-commenting):before {
  content: "\f27a";
}
