$break-wide-handhelds: 480px;
$break-tablets: 650px;
$break-medium-screen: 1000px;
$break-wide-screen: 1500px;

@mixin respond-to($media) {
	@if $media == small-handhelds {
		@media only screen and (max-width: $break-wide-handhelds) { @content; }
	}
	@else if $media == wide-handhelds {
		@media only screen and (min-width: $break-wide-handhelds + 1) and (max-width: $break-tablets) { @content; }
	}
	@else if $media == handhelds {
		@media only screen and (max-width: $break-tablets) { @content; }
	}
	@else if $media == tablets {
		@media only screen and (min-width: $break-tablets + 1) and (max-width: $break-medium-screen) { @content; }
	}
	@else if $media == medium-screens {
		@media only screen and (min-width: $break-medium-screen + 1) and (max-width: $break-wide-screen) { @content; }
	}
	@else if $media == wide-screens {
		@media only screen and (min-width: $break-wide-screen + 1) { @content; }
	}
	@else if $media == screens {
		@media only screen and (min-width: $break-medium-screen + 1) { @content; }
	}
	@else if $media == tablets-and-larger {
		@media only screen and (min-width: $break-tablets + 1) { @content; }
	}
}

@mixin equilateral-triangle($direction, $size, $color) {
	width: 0;
	height: 0;
	box-sizing: content-box !important;
	border-style: solid;
	@if $direction == 'up' {
		border-width: 0 $size calc(#{$size} * 1.74) $size;
		border-color: transparent transparent $color transparent;
	}
	@else if $direction == 'down' {
		border-width: calc(#{$size} * 1.74) $size 0 $size;
		border-color: $color transparent transparent transparent;
	}
	@else if $direction == 'right' {
		border-width: $size 0 $size calc(#{$size} * 1.74);
		border-color: transparent transparent transparent $color;
	}
	@else if $direction == 'left' {
		border-width: $size calc(#{$size} * 1.74) $size 0;
		border-color: transparent $color transparent transparent;
	}
}