@charset "UTF-8";

@import '~@style/_vars';

:global {

	@import "~@style/plume/_plume-core";
	@import "~@style/plume/_form";
	//@import "~@style/plume/effects";
	//@import "~@style/plume/utilities";
}

:root {
	--pm-app-surface-color: #{$bg-color};
	--pm-app-ground-color: #{$bg-color-light};
	--pm-app-base-font-size: inherit;
	--pm-app-line-height: inherit;
	--pm-app-font-weight: inherit;
	--pm-app-text-color: inherit;
	--pm-app-container-padding: inherit;
	--pm-app-container-max-width: none;
	--pm-font-family-primary: Source Sans Pro;
	--pm-font-family-secondary: Source Sans Pro;
	--pm-primary-color: #{$primary-color};
	--pm-secondary-color: #dfdfdf;
	--pm-color-success: #{$success-color};
	--pm-color-error: #{$error-color};
	--pm-mark-border-radius: 0px;
	--pm-button-secondary-text-color: #444;
	--pm-button-border-radius: #{$radius};
	//--pm-placeholder-color: ;
	//--pm-form-caption-font-size: ;
	--pm-form-field-margin-bottom: #{$large-gap};
	//--pm-fieldset-border-style: ;
	--pm-label-font-size: 0.8rem;
	//--pm-label-font-weight: ;
	--pm-label-margin-bottom: #{$medium-gap};
	--pm-input-height: 48px;
	//--pm-input-box-shadow: ;
	//--pm-input-padding: ;
	//--pm-input-border-style: ;
	--pm-input-border-radius: 0px;
	//--pm-input-border-width: ;
	//--pm-input-border-color: ;
	--pm-input-background-color: #{$bg-color-light};
	--pm-input-switch-size: 26px;
	//--pm-input-switch-border-width: ;
	//--pm-textarea-padding: ;
	//--pm-textarea-min-height: ;
	--pm-table-cell-border-color: #424242;
	--pm-list-item-margin-bottom: 16px;
	--pm-code-background-color: rgba(255,255,255,0.05);

	@include respond-to(tablets) {
		--pm-label-margin-bottom: #{$small-gap-T};
		--pm-form-field-margin-bottom: #{$medium-gap-T};
	}

	@include respond-to(screens) {
		--pm-label-margin-bottom: #{$small-gap-S};
		--pm-form-field-margin-bottom: #{$medium-gap-S};
	}
}
