// Colors
@import '~@style/_colors';

// Mixins
@import '~@style/_mixins';

// Layout vars
// ===========

// Gaps
$small-gap: 4px;
$small-gap-T: 8px;
$small-gap-S: 12px;
$medium-gap: 8px;
$medium-gap-T: 16px;
$medium-gap-S: 24px;
$large-gap: 16px;
$large-gap-T: 24px;
$large-gap-S: 40px;
$large-gap-WS: 3.5vw;
$huge-gap: 24px;
$huge-gap-T: 32px;
$huge-gap-S: 55px;
$huge-gap-WS: 4.5vw;

$center-area-padding: $large-gap;
$content-max-width-T: 600px;
$content-max-width-S: 750px;
$content-max-width-WS: 900px;

$sides-width-T: calc(80px + 12%);
$sides-width-S: calc(100px + 12%);
$sides-width-WS: calc((100% - #{$content-max-width-WS}) / 2);

// Text size calculations (unitless for flexibility)
$base-viewport: 1200;				// Base viewport for calculations
$font-size-at-base-viewport: 20;	// Base font size (at base viewport)
$min-font-size: 18;					// Minimum computed font size in pixels
$max-font-size: 25;					// Maximum computed font size in pixels

@function base-font-size() {
	@return ($font-size-at-base-viewport / $base-viewport) * 100;
}

@function breakpoint-for-fontsize($n) {
    @return ($n / base-font-size()) * 100;
}

// Header
$visual-header-height: 23vh;	// 100px
$visual-header-height-T: 20vh;	// 200px
$visual-header-height-S: 22vh;	// 230px

$malt-ribbon-height: 40px;
$malt-ribbon-height-T: 35px;
$malt-ribbon-height-S: 55px;

$header-height: calc(#{$visual-header-height} + (#{$malt-ribbon-height} / 2));
$header-height-T: calc(#{$visual-header-height-T} + (#{$malt-ribbon-height-T} / 2));
$header-height-S: calc(#{$visual-header-height-S} + (#{$malt-ribbon-height-S} / 2));

// Scroll Up button
$scrollup-button-bottom: 10px;
$scrollup-button-height: 45px;
$scrollup-button-height-T: 38px;
$scrollup-button-height-S: 50px;

// Sidebar
$sidebar-max-width-WS: 250px;

$sidebar-padding: $large-gap;
$sidebar-padding-T: $large-gap-T;
$sidebar-padding-S: $large-gap-S;
$sidebar-padding-WS: calc((#{$sides-width-WS} - #{$sidebar-max-width-WS}) / 2);

$sidebar-vertical-padding: calc(#{$sidebar-padding} / 2);
$sidebar-vertical-padding-T: calc(#{$sidebar-padding-T} / 2);
$sidebar-vertical-padding-S: calc(#{$sidebar-padding-S} / 2);
$sidebar-vertical-padding-WS: calc(#{$sidebar-padding-WS} / 3);

$awards-widget-gutter: 15px;

// Nav
$nav-open-width: 70%;
$nav-mobile-height: 12vh;
$nav-mobile-wave-height: 0.1;

$nav-main-logo-height: 65%;
$nav-main-logo-height-T: 12vh;
$nav-main-logo-height-S: 12vh;

$nav-fb-logo-height: 45%;

$nav-logos-height: calc(6vw + 6vh);
$nav-logos-height-TM: 7vh;

$nav-images-gutter-T: $large-gap-T;
$nav-images-gutter-S: $large-gap-S;

// Products
$product-specs-max-width: 350px;

// Animation vars
// ==============

$instant-anim: 80ms;
$fast-anim: 130ms;
$medium-anim: 200ms;
$slow-anim: 300ms;
$very-slow-anim: 400ms;

$menu-slide-duration: 300ms;
$menu-items-opacity-duration: 150ms;
$menu-items-transform-duration: 150ms;
$menu-anim-delay: 150ms;
$menu-anim-delay-mobile: 60ms;
$nav-mobile-circle-size: 220vh;
$std-bezier-easing: cubic-bezier(0.000, 0.995, 0.990, 1.000);

// Various styling
// ===============

// Buttons
$radius: 6px;
$small-radius: 3px;
$box-shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.125);
$box-shadow-large: 0px 2px 6px rgba(0, 0, 0, 0.2);
$box-shadow-extra-large: 0px 2px 10px rgba(0, 0, 0, 0.25);

// Rating custom icons height
$rating-icons-height: 18px;

// Text on images
$text-on-images-color: $lightest-text-color;
$text-on-images-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
$text-on-images-gradient: linear-gradient(
	rgba(0, 0, 0, 0) 0%,
	rgba(0, 0, 0, 0.1) 20%,
	rgba(0, 0, 0, 0.25) 40%,
	rgba(0, 0, 0, 0.5)
);
