@charset "UTF-8";

@import '~@style/_normalize';
@import '~@style/_fonts';
@import '~@style/_vars';
@import '~@style/_plume';

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	width: auto;
	height: 100%;
}

html {

	overflow-y: scroll;

	background-color: $bg-color;
	color: $text-color;
	font-family: 'Source Sans Pro', sans-serif;

	// Text size
	font-size: base-font-size() * 1vw;

	// Minimum font size
	@media screen and (max-width: breakpoint-for-fontsize($min-font-size) * 1px) {
		font-size: $min-font-size * 1px;
	}

	// Maximum font size
	@media screen and (min-width: breakpoint-for-fontsize($max-font-size) * 1px) {
		font-size: $max-font-size * 1px;
	}

	// Typography params
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	// Responsive text sizing for Mac devices in landscape orientation
	@media (max-device-width:768px) and (orientation: landscape) {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}

.App {
	width: auto;
	height: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;

	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;

	&:active, &:visited, &:link {
		outline: none;
	}
}

:global(.bold) {
	font-weight: 500;
}

:global(.italic) {
	font-style: italic;
}

:global(.textPrimary) {
	color: $primary-color;
}

::selection {
    color: $snow;
    background: $primary-color;
}

// Responsive global rules
// =======================

// Max width for problematic elements
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video { max-width: 100%; }

// Keep image ratio
img { height: auto; }

// Long words
textarea, table, td, th, code, pre, samp {
	-webkit-hyphens: auto; // proper hyphenation
	-moz-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word; // forced line-break
}

// New line for specific long words in code
code, pre, samp { white-space: pre-wrap; }

