// Global vars
@import '~@style/_vars.scss';

.Footer {

	width: 100%;
	background-color: $bg-color-dark;
	padding: $medium-gap $large-gap;

	@include respond-to(tablets) {
		padding: $medium-gap-T $sides-width-T;
	}

	@include respond-to(screens) {
		padding: $medium-gap-S $sides-width-S;
	}

	@include respond-to(wide-screens) {
		padding: $medium-gap-S $sides-width-WS;
	}

	padding-bottom: calc(2 * #{$scrollup-button-bottom} + #{$scrollup-button-height} + #{$nav-mobile-height});
	@include respond-to(tablets) { padding-bottom: calc(2 * #{$scrollup-button-bottom} + #{$scrollup-button-height-T}); }
	@include respond-to(screens) { padding-bottom: calc(2 * #{$scrollup-button-bottom} + #{$scrollup-button-height-S}); }

	p {
		text-align: center;
		font-size: 0.55rem;

		a {
			color: $lighter-text-color;
			text-decoration: none;
			font-weight: 400;
			transition: border-bottom $medium-anim ease;
			border-bottom: 1px solid rgba($lightest-text-color, 0);
			display: inline-block;

			&:hover {
				border-bottom: 1px solid rgba($lightest-text-color, 1);
			}
		}

		.FooterCode {
			font-weight: bold;
		}

		.FooterHeart {
			font-size: 0.45rem;
			color: $red;
		}
	}
}
