@import '~@style/_vars';

.BitternessRating {

	display: inline-block;
	vertical-align: middle;
	
	.BitternessRatingElem {
		display: inline-block;
		width: $rating-icons-height; height: $rating-icons-height;
		margin-right: $medium-gap;
		&:last-child { margin-right: 0; }
		background: url('~@assets/rating/bitterness.svg') center center/100% 100% no-repeat;

		&:global(.rating-full){ opacity: 0.4; }
		&:global(.rating-empty){ opacity: 0.15; }
	}
}
