@import '~@style/_vars';

.BodyRating {

	display: inline-block;
	vertical-align: middle;

	.BodyRatingElem {

		display: inline-block;
		width: $rating-icons-height; height: $rating-icons-height;
		margin-right: $medium-gap;
		&:last-child { margin-right: 0; }

		@for $i from 1 through 5 {
			&.BodyRatingElem#{$i} {
				background: url('~@assets/rating/body-#{$i}.svg') center center/100% 100% no-repeat;
			}
		}

		&:global(.rating-full){ opacity: 0.4; }
		&:global(.rating-empty){ opacity: 0.15; }
	}
}
