@import '~@style/_vars.scss';

.AwardsWidget {

	@include respond-to(handhelds) {
		display: none;
	}

	margin-bottom: $sidebar-padding;

	@include respond-to(tablets) {
		margin-bottom: calc(#{$sidebar-padding-T} / 2);
	}

	@include respond-to(screens) {
		margin-bottom: calc(#{$sidebar-padding-S} / 2);
	}

	a {
		color: $text-color;
		transition: color $medium-anim ease;

		&:hover {
			color: $lighter-text-color;
		}
	}

	.AwardsWidgetTitle {

		font-size: 1.12rem;
		font-family: 'Berkshire Swash', sans-serif;
		margin: 0;

		margin-bottom: $small-gap;
		@include respond-to(tablets) { margin-bottom: $small-gap-T; }
		@include respond-to(screens) { margin-bottom: $small-gap-S; }

		a {
			display: block;
		} 
	}

	.AwardsWidgetItems {

		margin-top: $small-gap;
		@include respond-to(tablets) { margin-top: $small-gap-T; }
		@include respond-to(screens) { margin-top: $small-gap-S; }

		display: grid;

		grid-gap: $small-gap $small-gap;
		@include respond-to(tablets) { grid-gap: $small-gap-T $small-gap-T; }
		@include respond-to(screens) { grid-gap: $small-gap-S $small-gap-S; }

		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-auto-flow: row;

		justify-items: stretch;
		align-items: stretch;

		.AwardsWidgetLink {

			display: block;
			line-height: 0.7rem;
			display: flex;
			justify-content: center;
			align-items: center;

			.AwardsWidgetImage {

				max-width: 90px; max-height: 90px;

				img {

					max-width: 100%; max-height: 100%;

					filter: grayscale(1) brightness(0.8);
					transition: filter $medium-anim ease-out;
				}
			}

			.AwardsWidgetLastLink {

				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%; height: 100%;

				text-align: center;
				font-weight: 300;
				font-size: 0.7rem;
				line-height: 0.9rem;
			}

			&:hover .AwardsWidgetImage img {
				filter: grayscale(0) brightness(1);
			}
		}
	}
}
