@import '~@style/_vars.scss';

.NewsItemContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.NewsItem {

	$watermark-width: 60px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	position: relative;

	background-color: $bg-color-light;
	box-shadow: $box-shadow-small;

	border-radius: $small-radius;
	transition: all $instant-anim ease-out;

	margin: $medium-gap 0;
	padding: $large-gap;
	@include respond-to(tablets) { margin: $small-gap-T 0; padding: $medium-gap-T; }
	@include respond-to(screens) { margin: $small-gap-S $watermark-width; padding: $medium-gap-S; }

	/* Keep for later use : appear animation 
	width: 0;
	padding: 0;
	@include respond-to(tablets) { padding: 0; }
	@include respond-to(screens) { padding: 0; }

	.NewsItemContent p, .NewsItemContent h4 {
		opacity: 0;
	}
	*/

	.NewsItemImage {

		flex: 0 0 20%;
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond-to(small-handhelds) { display: none; }
		//@include respond-to(wide-handhelds) { flex: 0 0 120px; }

		margin-right: $large-gap;
		@include respond-to(tablets) { margin-right: $medium-gap-T; }
		@include respond-to(screens) { margin-right: $medium-gap-S; }

		@include respond-to(tablets-and-larger) {
			img {
				filter: grayscale(1) brightness(0.8);
				transition: filter $instant-anim ease-out;
			}
		}
	}

	.NewsItemContent {

		h4 {
			display: block;
			font-family: 'Berkshire Swash', sans-serif;
			color: $text-color;
			font-size: 1rem;
			line-height: 1rem;
			margin: 0;
			margin-bottom: $small-gap;

			transition: all $instant-anim ease-out;
		}

		h6 {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400;
			color: $darker-text-color;
			font-size: 0.6rem;
			line-height: 1rem;
			margin: 0;
			margin-bottom: $medium-gap;

			[class^="icon-"], [class*=" icon-"] {
				margin-right: $small-gap;
			}

			.Middot:before {
				content: '·';
				margin: 0 $small-gap;
			}

			.InfoEmphasis {
				color: $text-color;
			}

			.InfoDate, .InfoPlace, .InfoAward, .InfoProduct {
				display: inline-block;
			}

			.InfoDate {
				.InfoEmphasis { color: $primary-color; }
				.InfoHours .InfoEmphasis { color: $text-color; }
			}
		}

		p {
			$news-font-size: 0.9rem;
			margin: 0;
			font-size: $news-font-size;
			color: $text-color;
			line-height: calc(1.2 * #{$news-font-size});
			max-height: calc(3.6 * #{$news-font-size});
			overflow: hidden;
			position: relative;

			&:after {
				content: 'Lire la suite';
				display: block;
				position: absolute;
				bottom: 0; right: 0;

				text-transform: uppercase;
				font-weight: 600;
				font-size: 0.7rem;
				line-height: calc(1.2 * #{$news-font-size});
				
				background-color: $bg-color-light;
				box-shadow: -15px 0 10px 3px $bg-color-light;
				transition: all $instant-anim ease-out;
			}
		}
	}

	&:hover {
		
		background-color: $bg-color-lighter;

		@include respond-to(tablets-and-larger) {
			.NewsItemImage img {
				filter: grayscale(0) brightness(1);
			}
		}

		.NewsItemContent {

			h4 {
				color: $lighter-text-color;
			}

			p:after {
				background-color: $bg-color-lighter;
				box-shadow: -15px 0 10px 3px $bg-color-lighter;
				color: $primary-color;
			}
		}
	}

	// Watermarks for categories
	@include respond-to(screens) {

		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			width: $watermark-width;
			top: 0;
			height: 100%;
			z-index: -1;
		}
		&:before { left: -$watermark-width; }
		&:after { right: -$watermark-width; }

		&:global(.News-award) {
			&:before { background: url('~@assets/news/award_left.svg') right center / auto 70% no-repeat; }
			&:after { background: url('~@assets/news/award_right.svg') left center / auto 70% no-repeat; }
		}

		&:global(.News-event) {
			&:before { background: url('~@assets/news/event_left.svg') right center / auto 70% no-repeat; }
			&:after { background: url('~@assets/news/event_right.svg') left center / auto 70% no-repeat; }
		}

		&:global(.News-event_home) {
			&:before { background: url('~@assets/news/event_home_left.svg') right center / auto 60% no-repeat; }
			&:after { background: url('~@assets/news/event_home_right.svg') left center / auto 60% no-repeat; }
		}

		&:global(.News-general) {
			&:before { background: url('~@assets/news/general_left.svg') right center / auto 55% no-repeat; }
			&:after { background: url('~@assets/news/general_right.svg') left center / auto 55% no-repeat; }
		}

		&:global(.News-product) {
			&:before { background: url('~@assets/news/product_left.svg') right center / auto 70% no-repeat; }
			&:after { background: url('~@assets/news/product_right.svg') left center / auto 70% no-repeat; }
		}
	}
}
