@import '~@style/_vars';

.NewsDetails {

	.NewsDetailsTitle {
		margin-bottom: calc(1.5 * #{$large-gap});
		@include respond-to(tablets) { margin-bottom: $large-gap-T; }
		@include respond-to(screens) { margin-bottom: $large-gap-S; }
	}

	.NewsDetailsSubTitle {

		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: $darker-text-color;
		font-size: 0.8rem;
		line-height: 1rem;
		margin: 0;
		margin-bottom: $large-gap;

		[class^="icon-"], [class*=" icon-"] {
			margin-right: $small-gap;
		}

		.Middot:before {
			content: '·';
			margin: 0 $small-gap;
		}

		.InfoEmphasis {
			color: $text-color;
		}

		.InfoDate, .InfoPlace, .InfoAward, .InfoProduct {
			display: inline-block;
		}

		.InfoDate {
			.InfoEmphasis { color: $primary-color; }
			.InfoHours .InfoEmphasis { color: $text-color; }
		}
	}

	.NewsDetailsImage {

		width: 100%;
		height: 300px;
		@include respond-to(medium-screens) { height: 350px; }
		@include respond-to(wide-screens) { height: 400px; }
		overflow: hidden;

		margin: 0 auto;

		&.NewsDetailsAwardImage {

			height: 150px;

			img {
				object-fit: fill;
				position: static;
				top: 0; bottom: 0; left: 0; right: 0;
				margin: auto;
				height: 100%;
				max-width: 100%; max-height: 100%;
				border-radius: $radius;
			}
		}
	}
}
