<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="expires" content="never"/>
		<meta name="REVISIT-AFTER" content="14 days" />
		<meta http-equiv="Content-Language" content="fr" />
		<meta name="geo.placename" content="Grandfresnoy, Oise, France" />
		<link rel="start" title="Accueil" href="/" />
		<!-- <base href="https://www.petitebrasseriepicarde.fr/"> -->
		<!-- TODO : add Apple Touch icons etc -->
		<!-- <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png"> -->
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
